body {
  background-color: #5e0199;
}
.grid1 {
  margin-top: 120px;
  display: grid;
  grid-gap: 20px;
}
.clockContainer {
  width: 100%;
  height: 100px;
  text-align: center;
}
.welcomeContainer {
  width: 100%;
  height: 10em;
  text-align: center;
}
h1 {
  color: beige;
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
}

.weatherContainer {
  border: solid black 2px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  background-color: #272727;
}
#temperature {
  color: beige;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
.clock {
  margin-top: 30px;
  font-size: 3.8rem;
}
.bookmarkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
}
.bookmarkSection {
  padding: 1em;
  background-color: #272727;
  border: solid 2px black;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.85rem;
  width: 25%;
  height: 11em;
  margin: 0em 0.5em;
}
.bookmarkInner {
  height: 80%;
  overflow-y: scroll;
  vertical-align: top;
}
.bookmarkInner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #272727;
  border-radius: 10px;
  background-color: #272727;
}
.bookmarkInner::-webkit-scrollbar {
  width: 12px;
  background-color: #272727;
}
.bookmarkInner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0a0909;
}
.bookmarkTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  margin: 0em 0em 0.35em 0em;
}
.bookmark {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1.1rem;
  margin: 0.5em 0em;
  transition-duration: 0.4s;
}
.bookmark:hover {
  background-color: #5e0199;
}
