@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body {
  background-color: #5e0199;
}
.grid1 {
  margin-top: 120px;
  display: grid;
  grid-gap: 20px;
}
#search {
  width: 99vw;
  height: 99vh;
  margin-top: -115px;
  background-color: #272727;
  display: none;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#searchField {
  width: 90%;
  padding: 0.75em 1em;
  box-sizing: border-box;
  background-color: #272727;
  border: solid 0px #272727;
  font-family: "Roboto Mono";
  font-size: 4rem;
  color: beige;
  outline: none;
  border-radius: 3px;
  margin-bottom: 1em;
  text-align: center;
}
.clockContainer {
  width: 100%;
  height: 100px;
  text-align: center;
}
.welcomeContainer {
  width: 100%;
  height: 20vh;
  margin-top: -10vh;
  text-align: center;
}
@media only screen and (max-width: 960px) {
  body {
    height: auto;
  }
  .clock {
    margin-top: 1em;
  }
  body > .bookmarkContainer {
    flex-direction: column;
    width: 60%;
  }
  .bookmarkContainer > .bookmarkSection {
    width: auto;
    margin: 1em 0em;
  }
}
h1 {
  color: beige;
  font-family: "Roboto Mono";
  font-size: 4rem;
}

.weatherContainer {
  border: solid black 2px;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
  background-color: #272727;
}
#temperature {
  color: beige;
  font-family: "Roboto Mono";
  font-size: 1.5rem;
}
.clock {
  margin-top: 30px;
  font-size: 3.8rem;
}
.bookmarkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
  margin: 20px auto;
}
.bookmarkSection {
  padding: 1em;
  background-color: #272727;
  border: solid 2px black;
  font-family: "Roboto Mono";
  font-size: 0.85rem;
  width: 25vw;
  height: 11em;
  margin: 0em 0.5em;
}
.bookmarkInner {
  height: 80%;
  overflow-y: scroll;
  vertical-align: top;
}
.bookmarkInner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #272727;
  border-radius: 10px;
  background-color: #272727;
}
.bookmarkInner::-webkit-scrollbar {
  width: 12px;
  background-color: #272727;
}
.bookmarkInner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0a0909;
}
.bookmarkTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  margin: 0em 0em 0.35em 0em;
}
.bookmark {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1.1rem;
  margin: 0.5em 0em;
  transition-duration: 0.4s;
}
.bookmark:hover {
  background-color: #5e0199;
}
